<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204318189072-eg2mevmg96irf6aa5o8i0pqpn3kaoddo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204318189072-eg2mevmg96irf6aa5o8i0pqpn3kaoddo</string>
	<key>API_KEY</key>
	<string>AIzaSyDOOp9Pk3OFiHcha9wX6MnKtgtqyS531eA</string>
	<key>GCM_SENDER_ID</key>
	<string>204318189072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finalproj</string>
	<key>PROJECT_ID</key>
	<string>aiet-bae93</string>
	<key>STORAGE_BUCKET</key>
	<string>aiet-bae93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204318189072:ios:56066929606e23a5abcc95</string>
	<key>DATABASE_URL</key>
	<string>https://aiet-bae93.firebaseio.com</string>
</dict>
</plist>